<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdventurerWIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AdventurerWIN.Properties.Settings>
            <setting name="ForeGroundColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackGroundColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>800, 700</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Tahoma, 14pt</value>
            </setting>
        </AdventurerWIN.Properties.Settings>
    </userSettings>
</configuration>